<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/clemble.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/clemble.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG-UDP" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-5level %logger{35}: %m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.udp.UDPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>logs2.papertrailapp.com</host>
            <!-- remote port to log to -->
           <port>40619</port>
           <!-- program name to log as -->
           <ident>bonus</ident>
        </syslogConfig>
    </appender>

     <!--<appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">-->
        <!--<endpointUrl>http://logs-01.loggly.com/inputs/fe27a35c-06d0-4f16-a556-be4e6c6a3b8c/tag/logback</endpointUrl>-->
        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
           <!--<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
                 <!--<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->
                      <!--&lt;!&ndash; prettyPrint is probably ok in dev, but usually not ideal in production: &ndash;&gt;-->
                      <!--<prettyPrint>false</prettyPrint>-->
                 <!--</jsonFormatter>-->
                 <!--<context>bonus</context>-->
                 <!--<timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'000Z'</timestampFormat>-->
                 <!--<timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>-->
                 <!--<appendLineSeparator>true</appendLineSeparator>-->
            <!--</layout>-->
        <!--</encoder>-->
    <!--</appender>-->

    <root level="DEBUG">
        <!--<appender-ref ref="loggly" />-->
        <appender-ref ref="FILE" />
        <appender-ref ref="SYSLOG-UDP" />
    </root>
</configuration>
